<div class="ui header">
    Global Variables
</div>
<div class="ui form">
    <div class="fields">
        {{ui-form-input placeholder="name"}}
        {{ui-form-input placeholder="value"}}
    </div>
    <button class="ui button" >
        <i class="plus icon" ></i>
        Add
    </button>
</div>

<div class="ui header">
    Global Query Paremeter
</div>
<div class="ui form">
    <div class="fields">
        {{ui-form-input placeholder="name"}}
        {{ui-form-input placeholder="value"}}
    </div>
    <button class="ui button" >
        <i class="plus icon" ></i>
        Add
    </button>
</div>

<div class="ui header">
    Global Headers
</div>
<div class="ui form">
    <div class="fields">
        {{ui-form-input placeholder="name"}}
        {{ui-form-input placeholder="value"}}
    </div>
    <button class="ui button" >
        <i class="plus icon" ></i>
        Add
    </button>
</div>

