<div class="ui form">
    {{ui-form-input label="Api name"}}
    {{ui-form-input label="Path"}}
    <div class="field">
        <label for="">Method</label>
        {{ui-select label="Method" options=methodOptions value=(mut methodValue) }}
    </div>
    <div class="field">
        <label for="">Group</label>
        {{ui-select label="Group" options=groupOptions value=(mut groupValue)}}
    </div>
</div>

<div class="ui header">
    querystring
</div>
<div class="ui form">
    <div class="fields">
        {{ui-form-input label="name"}}
        {{ui-form-input label="value"}}
    </div>
    <button class="ui button" >
        <i class="plus icon" ></i>
        Add URL Parameter
    </button>
</div>


<div class="ui header">
    header
</div>
<div class="ui form">
    <div class="fields">
        {{ui-form-input label="name"}}
        {{ui-form-input label="value"}}
    </div>
    <button class="ui button" >
        <i class="plus icon" ></i>
        Add Header
    </button>
</div>

