<div class="ui container">
    <div class="ui blue segment">
        <div class="ui header">
            Global settings
        </div>
        <div class="ui form">
            {{ui-form-input label="host"}}
            {{ui-form-input label="base path"}}
            {{ui-form-input label="api version name"}}
            <button class="ui button">
                save
            </button>
        </div>
    </div>
    <div class="ui teal segment">
        <div class="ui header">
            Initial variables
        </div>
        {{ui-api-query-string}}
    </div>
    <div class="ui green segment">
        <div class="ui header">
            Headers
        </div>
        {{ui-api-query-string}}
    </div>
</div>

