<div class="ui form">
    {{ui-form-input label="Group name"}}
    <div class="field" >
        <label for="">
            Description
        </label>
        {{textarea class="ui textarea"}}
    </div>
    <div>
        <button class="ui button" >Save</button>
    </div>
</div>

<div class="ui items">
    {{#each model as |group|}}
    <div class="item">
        <div class="middle aligned content">
            <div class="header">
                {{#link-to "project-dashboard" group }}{{group.name}}{{/link-to}}                
            </div>
            <div class="description">
              {{group.description}}
            </div>
            <div class="meta">
                <span>Create at: {{group.create_time}}</span>
                <span>Update at: {{group.update_time}}</span>
            </div>
        </div>
    </div>
    {{/each}}
</div>

