<div class="ui form">
    {{ui-form-input label="Host"}}
    {{ui-form-input label="Base path"}}
    {{ui-form-input label="Version"}}
    {{ui-form-input label="Consumes"}}
    {{ui-form-input label="Produces"}}
    {{ui-form-input label="API Protocols"}}
</div>


<div class="ui header">
    Global querystring
</div>
<div class="ui form">
    <div class="fields">
        {{ui-form-input label="name"}}
        {{ui-form-input label="value"}}
    </div>
    <button class="ui button" >
        <i class="plus icon" ></i>
        Add URL Parameter
    </button>
</div>


<div class="ui header">
    Global header
</div>
<div class="ui form">
    <div class="fields">
        {{ui-form-input label="name"}}
        {{ui-form-input label="value"}}
    </div>
    <button class="ui button" >
        <i class="plus icon" ></i>
        Add Header
    </button>
</div>
