<div class="ui form">
    {{ui-form-input label="Host"}}
    {{ui-form-input label="Base path"}}
    {{ui-form-input label="Version"}}
    {{ui-form-input label="Consumes"}}
    {{ui-form-input label="Produces"}}
    {{ui-form-input label="API Protocols"}}
</div>