<h3 class="ui dividing header">
    Profile
</h3>
{{#ui-form}}
    {{ui-form-input label="Name"}}
    {{ui-form-input label="Company"}}
    {{ui-form-input label="Url"}}
    {{ui-form-input label="Location"}}
    <div>
        <label>Bio</label>
        {{textarea class="ui textarea"}}
    </div>
{{/ui-form}}
